.top-section-c {
  padding-top: 0rem;
}

.class-container {
  flex-direction: column;
}

.class-imgs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  gap: 1.5rem;
  margin: 0 auto;
}

.class-imgs-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
  padding-top: 1.5rem;
}

.desc-container p {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

#highlight {
  font-size: 1.8rem;
}

#highlight-g {
  color: #b7cc00;
}

.desc-container span {
  font-weight: 600;
}

/*Schedule + information*/
.info-container {
  width: 100%;
}
.attribute-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2.2rem;
  margin: 0 auto;
  padding: 0rem 1rem 1.5rem 1rem;
}

.attribute-info h4 {
  margin-bottom: 1rem;
}

.attribute-info h4 a {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

.attribute-list .item {
  background: #f2f2f2;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 6px;
  transition: 0.3s ease;
}

.attribute-list .item p {
  color: #666362;
  font-size: 1rem;
}

.attribute-list a {
  color: #fff;
  text-decoration: none;
}

#labelTT {
  background: rgb(214, 52, 23);
}

#labelCJ {
  background: orange;
}

#labelCS {
  background: rgb(197, 197, 7);
}

#labelYA {
  background: #242526;
}

.attributes h4:hover {
  transform: scale(1.03);
}

#li-TT .item:hover {
  transform: scale(1.03);
  background-color: #fff;
  border-bottom: 0.2em solid rgb(214, 52, 23);
}

#li-CJ .item:hover {
  transform: scale(1.03);
  background-color: #fff;
  border-bottom: 0.2em solid orange;
}

#li-CS .item:hover {
  transform: scale(1.03);
  background-color: #fff;
  border-bottom: 0.2em solid rgb(197, 197, 7);
}

#li-YA .item {
  background: #fff;
  color: #666362;
}

#li-YA .item:hover {
  transform: scale(1.03);
  border-bottom: 0.2em solid #242526;
}

/*Sign up section*/
.signup-card {
  position: relative;
  border-radius: 10px;
  row-gap: 2rem;
  padding: 0rem 0.5rem;
}

.signup-content {
  flex-direction: column;
  color: #666362;
}

.signup-content h5 {
  padding-left: 0.8rem;
}

.signup-content a {
  text-decoration: none;
}

.btnSU {
  color: #242526;
  border-bottom: 3px solid orange;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  border-radius: 10px;
}

/*Responsiveness for tablet*/
@media screen and (min-width: 768px) and (max-width: 899px) {
  #attribute-YA {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 900px) {
  #attribute-YA {
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  }
}

@media screen and (min-width: 936px) and (max-width: 1023px) {
  .class-imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}

/*Responsiveness for laptop*/
@media screen and (min-width: 1024px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .class-imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media screen and (min-width: 1122px) and (max-width: 1439px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}

@media screen and (min-width: 1336px) and (max-width: 1439px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
  .class-imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .class-imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
