@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Italiana", serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*Scroll To Top Btn*/
.scrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background: orange;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}

/*Whatsapp button*/
.wa-btn {
  z-index: 99999;
  position: fixed;
  bottom: 20px;
  left: 0;
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 32px;
  height: 32px;
  background-color: green;
  color: white;
  border-radius: 60px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.wa-btn:hover {
  max-width: 300px;
}

.wa-btn.active {
  left: 20px;
  pointer-events: all;
  opacity: 1;
}

#icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.938rem;
  padding: 0rem 0.5rem;
}

.text {
  white-space: nowrap;
  padding-right: 0.938rem;
}

/*Container + Sections*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 2rem;
}

.sub-section {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0rem 3rem 0rem;
}

.top-section {
  padding-top: 6rem;
}

.top-header {
  margin-bottom: 2rem;
}

.section-headers span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #666362;
}

#sectionAfter {
  background-color: #f2f2f2;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #666362;
}

/*Nav bar css*/
nav {
  position: fixed;
  z-index: 9998;
  width: 100%;
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}
nav .wrapper {
  position: relative;
  max-width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanlist i {
  color: #fff;
}
.wrapper .logo span:hover {
  color: orange;
}
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 69px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/*Drop Down Menu*/
.mega-box {
  position: absolute;
  right: 2px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #f2f2f2;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mega-box .content .row {
  width: calc(25% - 80px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #666362;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: orange;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #666362;
}

/*Nav bar for tablets*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f2f2;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  .spanlist i {
    color: #fff;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background: #666362;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    color: #666362;
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #666362;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    color: orange;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/*footer*/
.footer-distributed {
  display: flex;
  background: #242526;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: orange;
  font-size: 3rem;
  margin: 0;
}

/*CHANGE TO LOGO WHEN HAVE ACCESS*/
.footer-distributed h3 span {
  color: orange;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 39%;
}

.footer-distributed .footer-center i {
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.bi-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: orange;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* .footer-distributed .footer-links .link-1:before {
      content: none;
    } */

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsive for footer*/

@media (max-width: 880px) {
  .footer-distributed {
    display: block;
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
