.top-section-gr {
  padding-top: 0rem;
}

/*section heading col*/
#col {
  flex-direction: column;
}

.info-container {
  width: 100%;
}
.attribute-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin: 0 auto;
  padding: 0rem 1rem 1.5rem 1rem;
}

.attribute-info h4 {
  margin-bottom: 1rem;
}

.attribute-list .item {
  background: #f2f2f2;
  padding: 20px;
  margin-top: 1rem;
  border-radius: 6px;
  transition: 0.3s ease;
}

.attribute-list .item p {
  color: #666362;
  font-size: 1rem;
}

.attribute-list a {
  color: #666362;
  text-decoration: none;
}

.item:hover {
  transform: scale(1.03);
  background-color: #fff;
  border-bottom: 0.2rem solid transparent;
}

#jr:hover,
#r:hover {
  border-bottom: 0.2rem solid red;
}

#y:hover {
  border-bottom: 0.2em solid yellow;
}

#o:hover {
  border-bottom: 0.2em solid orange;
}

#g:hover {
  border-bottom: 0.2em solid green;
}

#p:hover {
  border-bottom: 0.2em solid purple;
}

#bl:hover,
#bs:hover,
#bg:hover {
  border-bottom: 0.2em solid rgba(0, 102, 255, 0.897);
}

#bg:hover a {
  color: gold;
}

#br:hover,
#brs:hover,
#brg:hover {
  border-bottom: 0.2em solid rgb(97, 32, 32);
}

#brg:hover a {
  color: gold;
}

#jb:hover,
#jbs:hover,
#jbg:hover {
  border-bottom: 0.2em solid black;
}

#jbg:hover a {
  color: gold;
}

#jd:hover {
  border-bottom: 0.2rem solid black;
}

#jd:hover a {
  color: red;
}

@media only screen and (min-width: 516px) and (max-width: 767px) {
  .attribute-info {
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .attribute-info {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2.2rem;
  }
}
