#video-section {
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.videos-container {
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.video-card {
  gap: 0.8rem;
  flex-direction: column;
}

.videos-container video {
  width: 100%;
}

@media only screen and (min-width: 320px) {
  .videos-container p {
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 500px) {
  .videos-container {
    gap: 3rem;
  }

  .videos-container p {
    width: 80%;
    line-height: 1.5rem;
  }

  .videos-container video {
    width: 80%;
  }
}
