@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Italiana", serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 2rem;
}

.section-headers span {
  font-size: 20px;
  font-weight: 300;
  color: #666362;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #666362;
}

/*Splash Screen*/
.splash-screen {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 1s;
}

.ss-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #666362;
}

.ssText-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ss-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.ss-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.msg {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

/*JS for splash screen*/
.msg.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.msg.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/*Nav bar css*/
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}
nav .wrapper {
  position: relative;
  max-width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanlist i {
  color: #fff;
}
.wrapper .logo span:hover {
  color: orange;
}
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 69px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/*Drop Down Menu*/
.mega-box {
  position: absolute;
  right: 2px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #f2f2f2;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mega-box .content .row {
  width: calc(25% - 80px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #666362;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: orange;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #666362;
}

/*Nav bar for tablets*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f2f2;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  .spanlist i {
    color: #fff;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background: #666362;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    color: #666362;
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #666362;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    color: orange;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/*Landscape image*/
.welcome-container {
  background-image: url("../imgs/landscape5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-box {
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.text-box h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

/*About section*/
.about-container {
  flex-direction: column;
}

.text-details {
  flex-direction: row;
  height: 400px;
}

.text-details img {
  max-width: 100%;
  max-height: 80%;
  display: block;
}

#about-p {
  letter-spacing: 1.5px;
  line-height: 1.8;
  padding: 0px 40px;
}

/*Videos section under about*/
#video-section {
  padding-top: 0px;
  padding-bottom: 100px;
}
.videos-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 220px;
}

.video-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  margin: 20px;
}

.videos-container video {
  width: 300px;
  height: 200px;
}

.class-container {
  flex-direction: column;
}

.class-details {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  letter-spacing: 1.5px;
  line-height: 1.8;
  height: 250px;
  justify-content: space-evenly;
}

#class-a {
  color: red;
}

#sectionAfter {
  background-color: #f2f2f2;
}
/* .welcome-container p {
  background-color: #f2f2f2;
  width: 50%;
  height: 300px;
  padding: 50px;
} */

.trial-btn {
  width: 250px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.trial-btn:hover {
  background-color: #666362;
  color: white;
  /* border-bottom: 3px solid orange; */
}

/*footer*/
.footer-distributed {
  display: flex;
  background: #242526;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: orange;
  font-size: 3rem;
  margin: 0;
}

/*CHANGE TO LOGO WHEN HAVE ACCESS*/
.footer-distributed h3 span {
  color: orange;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 39%;
}

.footer-distributed .footer-center i {
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.bi-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: orange;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* .footer-distributed .footer-links .link-1:before {
    content: none;
  } */

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsive for footer*/

@media (max-width: 880px) {
  .footer-distributed {
    display: block;
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/*Media Queries for mobile devices*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  /*landscape img section*/
  .text-box {
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
  }
  .text-box h3 {
    font-size: 12px;
  }
  .text-box p {
    font-size: 10px;
    color: #fff;
  }

  /*About section*/
  .about-section {
    height: 70vh;
  }

  #about-text-details {
    height: 200px;
  }
  .text-details {
    flex-direction: column;
  }

  #mobile-img1 {
    position: relative;
    top: 200px;
  }

  #about-p {
    position: relative;
    top: 180px;
    line-height: 1.5;
    font-size: 12px;
  }

  /*Video section*/
  .videos-container {
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 820px;
    margin-top: 20px;
  }

  .video-card {
    height: 200px;
  }

  #video-section {
    padding: 0px 0px 20px 0px;
  }

  .videos-container video {
    width: 250px;
    height: 150px;
  }

  /*Classes*/
  #sectionAfter {
    height: 100vh;
  }

  .class-details {
    padding: 200px 0px 0px 0px;
    height: 200px;
  }

  #mobile-img2 {
    position: relative;
    max-height: 100%;
    top: 180px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .welcome-container {
    justify-content: center;
  }

  .text-box {
    margin-left: 140px;
    margin-top: 90px;
  }

  .text-box p {
    color: #fff;
  }

  .text-details {
    flex-direction: column;
    height: 650px;
    justify-content: space-evenly;
  }

  #mobile-img1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .videos-container {
    position: relative;
    flex-direction: column;
    height: 700px;
  }

  #sectionAfter {
    height: 100vh;
  }

  .class-details {
    padding-top: 70px;
  }

  #mobile-img2 {
    position: relative;
    top: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .text-details {
    flex-direction: column;
    height: 750px;
    justify-content: space-evenly;
  }

  #mobile-img1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .videos-container {
    position: relative;
    flex-direction: column;
    height: 700px;
  }

  .videos-container video {
    width: 400px;
    height: 200px;
  }

  #sectionAfter {
    height: 100vh;
  }

  #mobile-img2 {
    position: relative;
    max-height: 70%;
    top: 30px;
  }
} ;
