.top-section-po {
  padding-top: 0rem;
}

.top-section-after {
  padding-top: 2rem;
}
/*Map Section*/
.location-container {
  flex-direction: column;
  gap: 1rem;
}

.location-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  gap: 1.5rem;
  margin: 0 auto;
}

.location-imgs img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.location-imgs iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.location-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
  gap: 1.5rem;
}

.btnSU {
  color: #fff;
  background-color: #b7cc00;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  border-radius: 10px;
  width: 150px;
}

@media only screen and (min-width: 768px) {
  .location-imgs {
    flex-direction: row;
    width: 100%;
  }
}
