.top-section-po {
  padding-top: 0rem;
}

.top-section-after {
  padding-top: 2rem;
}
/*Map Section*/
.location-container {
  flex-direction: column;
  gap: 1rem;
}

.location-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100%;
  gap: 1.5rem;
  margin: 0 auto;
}

.location-imgs img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.location-imgs iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.location-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1.5rem;
  gap: 1.5rem;
}

.btnSU {
  color: #fff;
  background-color: #b7cc00;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  border-radius: 10px;
  width: 140px;
}

.container {
  display: flex;
  flex-direction: row;
}

.container a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 35px;
}

@media only screen and (min-width: 1024px) and (max-width: 1335px) {
  .location-imgs {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media only screen and (min-width: 1336px) and (max-width: 1735px) {
  .location-imgs {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media only screen and (min-width: 1736px) {
  .location-imgs {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}
