.desc-section {
  padding-top: 0rem;
}

.top-section-p {
  padding-top: 8rem;
  padding-bottom: 0rem;
}

.section-headers {
  flex-direction: column;
  margin-bottom: 2rem;
}

#PSE-header {
  margin-bottom: 0rem;
}

.section-headers span {
  font-size: 1.1rem;
  font-weight: 300;
  color: #666362;
}

#secondline {
  font-size: 1rem;
}

/*Layout design*/
.layout {
  min-height: 70vh;
  width: 100%;
}
.container {
  width: 90%;
  max-width: 100%;
  margin: 1rem 3.125rem 3rem 3.125rem;
}

/*right img left desc*/
.left-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 10rem 0.5rem 2rem;
  background-color: #f2f2f2;
  color: #666362;
}

#smaller {
  height: 65vh;
}

#bigger {
  height: 120vh;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.description h1 {
  font-weight: 700;
  margin-bottom: 0rem;
}
.description p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.description a {
  font-size: 1.1rem;
  color: #f90042;
}

.description ul {
  line-height: 1.5rem;
  font-weight: 700;
}
.right-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-left: -9rem;
  border-radius: 8px;
}

#img1 {
  background: url(/imgs/PSEPimg.JPG) no-repeat center / cover;
}

#img2 {
  background: url(/imgs/PALpic.JPG) no-repeat center / cover;
}

#img3 {
  background: url(/imgs/CCAimg.JPG) no-repeat center / cover;
}

#img4 {
  background: url(/imgs/SHApic.jpg) no-repeat center / cover;
}

#img5 {
  background: url(/imgs/SEVpic.jpg) no-repeat center / cover;
}

#img6 {
  background: url(/imgs/aikisports.png) no-repeat center / cover;
}
/*Description sections*/
.desc-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 0rem 2rem;
}

.desc-box p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.desc-box a {
  color: orange;
  font-weight: 300;
}

#more-info {
  font-size: 1.1rem;
  font-weight: 700;
}

#more-info a {
  font-weight: normal;
  color: #b7cc00;
}

/*left img right desc -> OPPOSITE*/
.left-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-right: -9rem;
  border-radius: 8px;
}

.right-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 2rem 0.5rem 11rem;
  background-color: #f2f2f2;
  color: #666362;
}

#highlight {
  font-size: 2rem;
  font-weight: 700;
}

#highlight-g {
  font-size: 2rem;
  color: #b7cc00;
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  #secondline {
    font-size: 0.8rem;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .left-detail-box {
    width: 100%;
    height: 85vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #smaller {
    height: 70vh;
  }

  #bigger {
    height: 150vh;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  #secondline {
    font-size: 0.8rem;
  }
  .description {
    justify-content: center;
    height: 100%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .left-detail-box {
    width: 100%;
    height: 80vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -4.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -4.25rem;
  }

  #smaller {
    height: 65vh;
  }

  #bigger {
    height: 137vh;
  }
}

@media only screen and (min-width: 425px) and (max-width: 599px) {
  #secondline {
    font-size: 0.8rem;
  }
  .description {
    justify-content: center;
    height: 100%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .left-detail-box {
    width: 100%;
    height: 82vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #smaller {
    height: 65vh;
  }

  #bigger {
    height: 130vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 766px) {
  #secondline {
    font-size: 0.8rem;
  }
  .description {
    justify-content: center;
    height: 80%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .left-detail-box {
    width: 100%;
    height: 64vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #smaller {
    height: 55vh;
  }

  #bigger {
    height: 105vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .description {
    justify-content: center;
    height: 100%;
    padding-right: 2rem;
  }

  .desc-box {
    padding: 0rem 4rem;
  }
  .left-detail-box {
    width: 100%;
    height: 56vh;
    padding: 0rem 6rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    height: 50vh;
  }

  #bigger {
    height: 105vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1198px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .description {
    justify-content: center;
    height: 100%;
    padding-right: 2rem;
  }

  .desc-box {
    padding: 0rem 4rem;
  }

  .left-detail-box {
    width: 100%;
    height: 50vh;
    padding: 0rem 6rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    height: 40vh;
  }

  #bigger {
    height: 96vh;
  }
}

@media only screen and (min-width: 1199px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .description {
    justify-content: center;
    padding-right: 2rem;
    height: 100%;
    gap: 2rem;
  }

  .right-img-box {
    width: 50%;
    margin: 0;
    margin-left: -6.25rem;
  }
  .description h1 {
    font-size: 2.5rem;
  }
  .description p {
    font-size: 1rem;
  }
}

/*
  .description p,
  .description span,
  .description li {
    font-size: 1.3rem;
  }

  .description ul {
    line-height: 1.8rem;
  }
  .desc-box {
    padding: 0rem 4rem;
  }
  
  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 50%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    max-height: 50vh;
  }

  #bigger {
    height: 95vh;
  }
} */
