.top-section-jgs {
  padding-top: 6rem;
}

.top-header {
  margin-bottom: 2rem;
}

.section-headers {
  flex-direction: column;
  margin-bottom: 2rem;
}

/*Download button + container*/
.btnSU {
  color: #242526;
  border-bottom: 0.3em solid black;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  border-radius: 10px;
}

#BLBG {
  border-bottom: 0.3em solid rgba(0, 102, 255, 0.897);
}

#BRBG {
  border-bottom: 0.3em solid rgb(97, 32, 32);
}

.video-section {
  padding-top: 0rem;
  padding-bottom: 2rem;
}
.videos-container {
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.video-card {
  gap: 0.8rem;
  flex-direction: column;
}

.videos-container video {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .videos-container {
    gap: 3rem;
  }

  .videos-container video {
    width: 80%;
  }
}
