@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Italiana", serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 2rem;
}

.section-headers span {
  font-size: 20px;
  font-weight: 300;
  color: #666362;
}
/*Splash Screen*/
.splash-screen {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: 1s;
}

.ss-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #666362;
}

.ssText-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ss-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.ss-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.msg {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

/*JS for splash screen*/
.msg.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.msg.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/*Nav bar css*/
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}
nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanlist i {
  color: #fff;
}
.wrapper .logo span:hover {
  color: orange;
}
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 69px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/*Drop Down Menu*/
.mega-box {
  position: absolute;
  right: 2px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #f2f2f2;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mega-box .content .row {
  width: calc(25% - 80px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #666362;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: orange;
}
.wrapper .btn {
  color: #666362;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

/*Nav bar for tablets*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f2f2;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background: #666362;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #666362;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    color: orange;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/*Landscape image*/
.welcome-container {
  background-image: url("../imgs/landscape5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-box {
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.text-box h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

/*About section*/
.about-container {
  flex-direction: column;
  height: 90vh;
}

.text-details {
  flex-direction: row;
  height: 400px;
}

.text-details img {
  max-width: 100%;
  max-height: 80%;
  display: block;
}

#about-p {
  letter-spacing: 1.5px;
  line-height: 1.8;
  padding: 0px 40px;
}

.class-details {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  letter-spacing: 1.5px;
  line-height: 1.8;
  height: 250px;
  justify-content: space-evenly;
}

#class-a {
  color: red;
}

#next {
  background-color: #f2f2f2;
}
/* .welcome-container p {
  background-color: #f2f2f2;
  width: 50%;
  height: 300px;
  padding: 50px;
} */

.trial-btn {
  width: 250px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.trial-btn:hover {
  border-bottom: 3px solid orange;
}
