.scrollToTop-btn {
  display: none;
}

.wa-btn {
  left: 20px;
  opacity: 1;
}

/*=======Contact section=======*/
.top-section-ctc {
  padding-top: 6rem;
  padding-bottom: 0rem;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #b7cc00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  height: 200px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: orange;
  color: white;
}
