#intro-top {
  padding-top: 6rem;
}

/*Layout design*/
.layout {
  min-height: 70vh;
  width: 100%;
}
.container {
  width: 90%;
  max-width: 1250px;
  margin: 1rem 3.125rem 3rem 3.125rem;
}

/*right img left desc*/
.left-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 10rem 0.5rem 2rem;
  background-color: #f2f2f2;
  color: #666362;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.description h1 {
  font-weight: 700;
  margin-bottom: 0rem;
}
.description p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: justify;
  text-align-last: left;
}

.description a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  font-size: 25px;
  color: #666362;
  text-align: center;
  line-height: 35px;
}

#cs {
  color: orange;
}

.right-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-left: -9rem;
  border-radius: 8px;
}

#img1 {
  background: url(/imgs/TIWpic.jpg) no-repeat center / cover;
}

#img2 {
  background: url(/imgs/DTpic.jpg) no-repeat center / cover;
}

#img3 {
  background: url(/imgs/SCAPEpic.jpg) no-repeat center / cover;
}

/*Description sections*/
.desc-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 0rem 2rem;
}

.desc-box p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.desc-box span {
  font-size: 1.1;
  font-weight: 600;
}

.desc-box a {
  color: #b7cc00;
  font-weight: 300;
}

/*left img right desc -> OPPOSITE*/
.left-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-right: -9rem;
  border-radius: 8px;
}

.right-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 2rem 0.5rem 11rem;
  background-color: #f2f2f2;
  color: #666362;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .description {
    height: 100%;
  }

  .left-detail-box {
    width: 100%;
    height: 110vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -4.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -4.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 550px;
  }

  #rdb-ve {
    height: 450px;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .description {
    justify-content: center;
    height: 100%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .left-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -1.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -1.25rem;
  }

  #img3 {
    margin-top: -2.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 500px;
  }

  #rdb-ve {
    height: 400px;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .left-detail-box {
    width: 100%;
    height: 82vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #img3 {
    margin-top: -4.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 450px;
  }

  #rdb-ve {
    height: 350px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .left-detail-box {
    width: 100%;
    height: 82vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #img3 {
    margin-top: -4.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 400px;
  }

  #rdb-ve {
    height: 330px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 766px) {
  #secondline {
    font-size: 0.8rem;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .left-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 360px;
  }

  #rdb-ve {
    height: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .description {
    justify-content: center;
    height: 100%;
  }
  .left-detail-box {
    width: 100%;
    height: 56vh;
    padding: 0rem 8rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 4rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }

  #rdb-iw,
  #ldb-dt {
    height: 400px;
  }

  #rdb-ve {
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1198px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .description {
    justify-content: center;
    height: 100%;
  }

  .left-detail-box {
    width: 100%;
    height: 50vh;
    padding: 0rem 10rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 6rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }

  #rdb-ve {
    height: 400px;
  }
}

@media only screen and (min-width: 1199px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .description {
    justify-content: center;
    height: 100%;
  }
  .left-detail-box {
    width: 100%;
    padding: 0rem 13rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 8rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #rdb-iw,
  #ldb-dt,
  #rdb-ve {
    height: 400px;
  }
}

/*Description unset justification*/
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .description p {
    text-align: unset;
  }
}
