@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Italiana", serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 2rem;
}

.desc-section {
  padding-top: 2rem;
}

.top-section {
  padding-top: 6rem;
  padding-bottom: 0rem;
}

#list {
  padding-top: 0rem;
}

.los-top-section {
  padding-top: 0rem;
}

.section-headers {
  flex-direction: column;
  margin-bottom: 2rem;
}

#WO-header {
  margin-bottom: 0rem;
}
.section-headers span {
  font-size: 1.1rem;
  font-weight: 300;
  color: #666362;
}

#secondline {
  font-size: 1rem;
}
#sectionAfter {
  background-color: #f2f2f2;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #666362;
}

/*Nav bar css*/
nav {
  position: fixed;
  z-index: 99999;
  width: 100%;
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}
nav .wrapper {
  position: relative;
  max-width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanlist i {
  color: #fff;
}
.wrapper .logo span:hover {
  color: orange;
}
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 69px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/*Drop Down Menu*/
.mega-box {
  position: absolute;
  right: 2px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #f2f2f2;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mega-box .content .row {
  width: calc(25% - 80px);
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #666362;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: orange;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #666362;
}

/*Nav bar for tablets*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f2f2;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  .spanlist i {
    color: #fff;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background: #666362;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    color: #666362;
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #666362;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    color: orange;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/*Layout design*/
#layout {
  min-height: 70vh;
  width: 100%;
}
.container {
  width: 90%;
  max-width: 100%;
  margin: 1rem 3.125rem 3rem 3.125rem;
}

/*right img left desc*/
.left-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 10rem 0.5rem 2rem;
  background-color: #f2f2f2;
  color: #666362;
}

#smaller {
  height: 65vh;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.description h1 {
  font-weight: 700;
  margin-bottom: 0rem;
}
.description p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.description a {
  font-size: 1.1rem;
  color: #f90042;
}

.description ul {
  line-height: 1.5rem;
  font-weight: 700;
}
.right-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-left: -9rem;
  border-radius: 8px;
}

#img1 {
  background: url(/imgs/TIWpic.jpg) no-repeat center / cover;
}

#img2 {
  background: url(/imgs/DTpic.jpg) no-repeat center / cover;
}

#img3 {
  background: url(/imgs/SCAPEpic.jpg) no-repeat center / cover;
}

/*Description sections*/
.desc-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 0rem 2rem;
}

.desc-box p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.desc-box span {
  font-size: 1.1;
  font-weight: 600;
}

.desc-box a {
  color: #b7cc00;
  font-weight: 300;
}

#more-info {
  font-size: 1rem;
  font-weight: 700;
}

#more-info a {
  font-weight: normal;
  color: #b7cc00;
}

/*left img right desc -> OPPOSITE*/
.left-img-box {
  z-index: 20;
  width: 50%;
  min-height: 300px;
  margin-right: -9rem;
  border-radius: 8px;
}

.right-detail-box {
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 0.5rem 2rem 0.5rem 11rem;
  background-color: #f2f2f2;
  color: #666362;
}

/*List of schools*/
.los-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 4rem;
}

.los-container-header h1 {
  font-size: 1.5rem;
}

.los-container li {
  line-height: 2rem;
}

/*footer*/
.footer-distributed {
  display: flex;
  background: #242526;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: orange;
  font-size: 3rem;
  margin: 0;
}

/*CHANGE TO LOGO WHEN HAVE ACCESS*/
.footer-distributed h3 span {
  color: orange;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 39%;
}

.footer-distributed .footer-center i {
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.bi-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 13px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: orange;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* .footer-distributed .footer-links .link-1:before {
    content: none;
  } */

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsive for footer*/

@media (max-width: 880px) {
  .footer-distributed {
    display: block;
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  #secondline {
    font-size: 0.8rem;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .left-detail-box {
    width: 100%;
    height: 110vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #smaller {
    height: 70vh;
  }

  #smaller3 {
    height: 60vh;
  }

  #bigger {
    height: 1400px;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  #secondline {
    font-size: 0.8rem;
  }
  .description {
    justify-content: center;
    height: 100%;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .left-detail-box {
    width: 100%;
    height: 80vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -1.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -1.25rem;
  }

  #smaller {
    height: 65vh;
  }

  #smaller3 {
    height: 60vh;
  }
  #bigger {
    height: 137vh;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 599px) {
  #secondline {
    font-size: 0.8rem;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .left-detail-box {
    width: 100%;
    height: 82vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -3.25rem;
  }

  #smaller {
    height: 65vh;
  }

  #smaller3 {
    height: 40vh;
  }

  #bigger {
    height: 130vh;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 766px) {
  #secondline {
    font-size: 0.8rem;
  }
  .container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .left-detail-box {
    width: 100%;
    height: 64vh;
    padding: 0rem 2rem;
  }
  .right-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #md-container {
    flex-direction: column-reverse;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem;
  }

  .left-img-box {
    width: 90%;
    margin: 0;
    margin-top: -6.25rem;
  }

  #smaller {
    height: 55vh;
  }

  #bigger {
    height: 105vh;
  }

  .los-container {
    padding: 0rem;
  }

  .los-container h1 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .description {
    justify-content: center;
    height: 100%;
  }
  .left-detail-box {
    width: 100%;
    height: 56vh;
    padding: 0rem 6rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    height: 50vh;
  }

  #bigger {
    height: 105vh;
  }

  .los-container h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1198px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .description {
    justify-content: center;
    height: 100%;
  }

  .left-detail-box {
    width: 100%;
    height: 50vh;
    padding: 0rem 6rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    height: 40vh;
  }

  #bigger {
    height: 96vh;
  }

  .los-container h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1199px) {
  .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .description {
    justify-content: center;
    height: 100%;
  }
  .left-detail-box {
    width: 100%;
    height: 60vh;
    padding: 0rem 6rem 0rem 2rem;
  }
  .right-img-box {
    width: 70%;
    margin: 0;
    margin-left: -6.25rem;
  }

  #md-container {
    flex-direction: row;
  }

  .right-detail-box {
    width: 100%;
    padding: 0rem 2rem 0rem 8rem;
  }
  .left-img-box {
    width: 70%;
    margin: 0;
    margin-right: -6.25rem;
  }
  #smaller {
    height: 60vh;
  }

  #bigger {
    height: 103vh;
  }
}
